
.navbar {
  background-color:pink;
  margin-bottom:2rem;
}
.bodi {
  padding:25px 300px 25px 300px;
  background-color: pink;
  border-bottom: 1px solid;
}
.navbar-brand {
  font-family: 'Macondo', cursive;
  font-size: 2rem;
  color:red;
}
.navbar-nav {
  font-family: 'Montserrat', sans-serif;
  font-size:1.25rem;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
}

.cp {
  height:5rem;
}
.hw {
  height:5rem;
}
.bt {
  height:5rem;
}
h6 {
  color:red;
  font-weight: bolder;
  margin-bottom: auto;

}
p {
  color:black;
}
hr {
  border:1px solid;
}
.tinder {
height:23rem;
width:20rem;
transform:rotate(10deg);
}
.bodies {
  padding:25px 300px 25px 300px;
}
